

<table  class="table table-hover">
   <thead>
      <tr>
        <th><strong>Date</strong></th>
        <th><strong>Services</strong></th>
        <th><strong>Rate</strong></th>
        <th></th>
      </tr>
  </thead>
 <tbody>
  <tr >
      <td><%= service.date %></td>
      <td><%= service.service %></td>
      <td><%= service.rate %></td>
      <td><%= link_to 'Delete', [service.invoice, service],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
     </tr>
  </tbody>
</table>

    

