

<div class="center hero-unit">
	<div class="row-fluid">
  		<div class="span12">
  			<div class="row-fluid">
			  <h1>Welcome to the Invoice App</h1>
			  <div class="span6">			   	
					<img src="./breezi_placeit.png" class="img-rounded">
				</div>
					<br>
				  <h2> This is the home page for the
				    <a href="#">The Invoice App</a>
				    Beta application.</h2>
					<br>
				   <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary disabled " %>
			</div>
		</div>
	</div>
</div>